* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #a65ff2, #3e9fff);
  padding: 40px;
}

.container {
  width: 800px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-size: 0; /* removes spacing between inline-block elements */
}

.one,
.two {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-height: 500px;
  font-size: 16px;
}

.one {
  background-color: #00bcd4;
  color: white;
  padding: 100px 50px;
  text-align: center;

}

.one h1 {
  margin-bottom: 20px;
}

.one p {
  margin-bottom: 30px;
}

.two {
  padding: 40px;
  background: white;
}

.two h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

form p{
    margin-bottom: 10px;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #eeeeee;
}
form textarea{
    height: 77px;
}
form button {
  padding: 12px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  margin: 0px 80px;
}